<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hAIkufier</title>
    <link rel="stylesheet" href="{}">
</head>
<body>
<section>
  <h1><label for="textInput">What should we write a haiku about?</label></h1>
  <section id="suggestions">
    <button onclick="insertText('What is a haiku?')">What is a haiku?</button>
    <button onclick="insertText('How does this work?')">How does this work?</button>
    <button onclick="insertText('Who did create this?')">Who did create this?</button>
  </section>
  <section id="prompter">
    <textarea id="textInput" maxlength="1024" placeholder="Type some text..."></textarea>
    <button onclick="sendText()">hAIkufy this!</button>

  </section>
</section>
<section id="userHaikus">

</section>

<script src="{}"></script>
</body>
</html>
